apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: quack:system:extension-apiserver-authentication-reader
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: extension-apiserver-authentication-reader
subjects:
- kind: ServiceAccount
  name: quack
  namespace: quack
